<html>
<head>
  <title>Consumer project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>Consumer project</h1>

<div class="panel">
  <h3>Resolved values</h3>
  <br/>
  <br/>
  <b>from @Value "bar":</b> <i>[[${resolvedFromValueBar}]]</i><br/>
  <b>from @Value "baz" (it should be a fallback):</b> <i>[[${resolvedFromValueBaz}]]</i><br/>
  <b>from @ConfigurationProperties (config file):</b> <i>[[${resolvedFromConfigFile}]]</i>
</div>

</body>
</html>
